body{
    margin: 0px;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    font-size: 18px;
    color: rgb(76, 53, 25);
}
.orange{
    color: orange;
}
section{
    display:flex;
}
.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(186, 41, 82), rgb(200, 54, 81));
    padding: 12px 24px;
    border-radius: 5%;
    color: white;
    font-weight: 700;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}